@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #4a90e2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #ffffff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #333333;
  margin-top: 10rem;
  padding: 2rem;
  border-radius: 5px;
  max-height: 700px;
  overflow-y: auto;
}

/* WebKit Browsers */
.TodoWrapper::-webkit-scrollbar {
  width: 12px;
}

.TodoWrapper::-webkit-scrollbar-track {
  background: #333333; 
  border-radius: 10px;
  padding-right: 10px;
}

.TodoWrapper::-webkit-scrollbar-thumb {
  background: #1e70b8;
  border-radius: 10px;
  padding-right: 10px;
}

.TodoWrapper::-webkit-scrollbar-thumb:hover {
  background: #1b5a93; 
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #4a90e2;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #ffffff;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #4a90e2;
  color: #ffffff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #4a90e2;
  color: #ffffff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}
.fa-pen-to-square{
  margin-left: 0.7rem;
}
.incompleted {
  color: #ffffff;
  cursor: pointer;
}

.completed {
  color: #a8d3ff;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
} 

.timestamp {
  font-size: 0.8em;
  color: lightgray;
  margin-left: 0.7rem;
}

/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
  .TodoWrapper {
    padding: 2rem;
    margin-top: 5rem;
  }

  .todo-input {
    width: 100%;
    margin-bottom: 1rem;
  }

  .Todo {
    flex-direction: row;
    align-items: flex-start;
  }

  .fa-trash, .fa-pen-to-square {
    margin-left: 0.5rem;
  }

  .timestamp {
    font-size: 0.7em;
    margin-left: 0.5rem;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }

  .TodoWrapper {
    padding: 0.5rem;
    margin-top: 5rem;
  }

  .todo-input {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .Todo {
    padding: 0.5rem;
    font-size: 0.9rem;
    flex-direction: row;
    align-items: flex-start;
  }

  .fa-trash, .fa-pen-to-square {
    margin-left: 0.3rem;
  }

  .timestamp {
    font-size: 0.6em;
    margin-left: 0.3rem;
  }
}